{% extends "_layouts/docs.html" %}
{% set title = "Touch Develop docs: Var" %}
{% set description = "Some description" %}
{% block innerbody %}

<div class='breadcrumb'>
    <a href="/home">Home</a>&nbsp;&nbsp;»&nbsp;
    <a href="//home"></a>&nbsp;&nbsp;»&nbsp; <a href="/docs/contents">contents</a>&nbsp;&nbsp;»&nbsp; <a href="/docs/language">language</a>&nbsp;&nbsp;»&nbsp;
    var
</div>

<h1>var</h1>

<div class='md-tutorial' dir='auto'>
    <div class='md-para'></div>
    <div class='md-para'></div>
    <div class='md-para'>A <strong>local variable</strong> is a symbol that represents a value. One can read or write to a local variable.</div>
    <h2 class="beta">declaration</h2>
    <div class='md-para'>A new local variable is defined by using the assignment <code class=notranslate translate=no dir=ltr>:=</code> operator.
        In the editor, you can either tap on <code class=notranslate translate=no dir=ltr>var</code> or the <code class=notranslate
        translate=no dir=ltr>extract to var</code> intellibutton. The keyword <code class=notranslate translate=no dir=ltr>var</code>
        is automatically added.</div>
    <div class=notranslate translate=no dir=ltr>
        <div class='md-snippet'>
            <div class='block'>
                <div class='stmt stmt-exprStmt stmt-exprStmt'>
                    <div class='line'><span class='keyword'>var </span> <span class='calcToken'>x</span><span class='calcToken'> := </span>
                        <span class='calcToken'>0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="beta">reading</h2>
    <div class='md-para'>Simply use the variable in your code to use its value.</div>
    <div class=notranslate translate=no dir=ltr>
        <div class='md-snippet'>
            <div class='block'>
                <div class='stmt stmt-exprStmt stmt-exprStmt'>
                    <div class='line'><span class='calcToken'>x</span><span class='calcToken'>&#X200A;&#X2192;&#XA0;post to wall</span></div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="beta">update</h2>
    <div class='md-para'>Use the assignment <code class=notranslate translate=no dir=ltr>:=</code> operator to save a new value in the variable.</div>
    <div class=notranslate translate=no dir=ltr>
        <div class='md-snippet'>
            <div class='block'>
                <div class='stmt stmt-exprStmt stmt-exprStmt'>
                    <div class='line'><span class='calcToken'>x</span><span class='calcToken'> := </span><span class='calcToken'>2</span></div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="beta">scope</h2>
    <div class='md-para'>A local variable exists within its definition scope. If the variable is defined in an action, it is available in that
        entire action. This is the case for <code class=notranslate translate=no dir=ltr>x</code> in this example.</div>
    <div class='md-para'>However, if a variable is defined within a nested block of code, like a <a class="" href="https://www.touchdevelop.com/docs/if">if</a>,
        then it only exits within that block.</div>
    <div class=notranslate translate=no dir=ltr>
        <div class='md-snippet'>
            <div class='block'>
                <div class='stmt stmt-if stmt-if'>
                    <div class='line'><span class='keyword'>if</span> <span class='calcToken'><span class='kw'>false</span></span> <span class='keyword'>then</span></div>
                    <div class='block'>
                        <div class='stmt stmt-other stmt-comment'>
                            <div class='line'><span class='comment'> `y`&#x2005;only&#x2005;exists&#x2005;within&#x2005;the&#x2005;`else`&#x2005;block</span></div>
                        </div>
                        <div class='stmt stmt-exprStmt stmt-exprStmt'>
                            <div class='line'><span class='keyword'>var </span> <span class='calcToken'>y</span><span class='calcToken'> := </span>
                                <span class='calcToken'>1</span>
                            </div>
                        </div>
                    </div>
                    <div class='line'><span class='keyword'>else</span></div>
                    <div class='block'>
                        <div class='stmt stmt-other stmt-comment'>
                            <div class='line'><span class='comment'> `y`&#x2005;does&#x2005;not&#x2005;exist&#x2005;here</span></div>
                        </div>
                    </div>
                    <div class='line'><span class='keyword'>end </span> <span class='greyed'> if </span></div>
                </div>
            </div>
        </div>
    </div>


    <div class='md-para'>
        <div class='md-video-link' data-playerurl='//www.youtube-nocookie.com/embed/-srn769s22s?modestbranding=1&amp;autoplay=1&amp;autohide=1'>
            <img src='https://img.youtube.com/vi/-srn769s22s/hqdefault.jpg' />
            <svg class='svg svg-icon-videoplay' viewBox='0 0 320 180' preserveAspectRatio='xMinYMin' xmlns='http://www.w3.org/2000/svg'>
                <g transform="translate(0,-872.36218)">
                    <path d="m193.35,76.144a35.355,35.355,0,1,1,-70.711,0,35.355,35.355,0,1,1,70.711,0z" fill-opacity="0.41269842000000001" transform="matrix(1.4083841,0,0,1.4083841,-58.307492,855.21509)"
                    stroke="#FFF" stroke-miterlimit="10" stroke-dasharray="none" stroke-width="6.85040394999999960" fill="#000"
                    />
                    <path fill="#FFF" d="m151.19,939.89-0.21124,46.293,36.567-22.321z" />
                </g>
            </svg>
        </div>
    </div>

</div>

{% endblock %}
