{% extends "_layouts/signin.html" %}
{% set title = "Touch Develop - Sign in" %}

{% block innerbody %}
  	
  	<main role="main">
        <h1>Already a touchdevelop.com user?</h1>
        <p>
            We have upgraded to a shiny, new, <a href="https://github.com/microsoft/touchdevelop-backend">open source backend</a>.
            To move your account over, we have to send you a <b>verification code</b> in an email.             
        </p>
        <p class='bg-danger'>@LEGACYMSG@</p>
        
        <h3>Please choose one option below</h3>
        <div class='form-group'>
            <label for=email>
              Existing account email:              
            </label>
            <input type="email" id="legacyemail" placeholder='someone@example.com' class="form-control"/>
            <button class='btn btn-lg btn-success' onclick='sendFld("legacyemail")'>Send code</button>
        </div>
        <div class='form-group'>          
            <label for=accountid>
              Existing account id:              
            </label>
            <input type="email" id="legacyid" placeholder='/xyzw' class="form-control"/>
            <button class='btn btn-lg btn-success' onclick='sendFld("legacyid")'>Send code</button>
        </div>
        <div class='form-group'>          
            <label>
            I don't have an existing account!            
            </label>
            <button class='btn btn-lg btn-warning create' onclick='sendFld("legacyskip")'>Create new account</button>
        </div>
    </main>

{% endblock %}

