{% extends "_layouts/signin.html" %}
{% set title = "Touch Develop - Sign in" %}

{% block innerbody %}
  	
  	<main role="main">
        <h1>Link accounts?</h1>
        <p>
            It looks you have never used this @PROVIDER@ identity at touchdevelop.com (next).
        </p>
        <p class='bg-danger'>@LEGACYMSG@</p>
        
        <h2>I already have an account</h2>
        <div class='form-group'>
            <label for=legacy>
              I have last used it before November 7th 2015. Try this first if unsure.         
            </label>
            <button id=legacy class='btn btn-lg btn-success' onclick='sendFld("legacyacct")'>Link legacy account</button>
        </div>
        <div class='form-group'>
            <label for=modern>
                I have used it more recently, but might have used a provider other than @PROVIDER@.              
            </label>
            <button id=modern class='btn btn-lg btn-success' onclick='sendFld("linkacct")'>Link other provider</button>
        </div>
        
        <h2>I don't have an account yet</h2>
        <div class='form-group'>          
            <label for=new>
               You're just one click away!
            </label>
            <button id=new class='btn btn-lg btn-warning' onclick='sendFld("legacyskip")'>Create new account</button>
        </div>
    </main>

{% endblock %}

