{% extends "_layouts/signin.html" %}
{% set title = "Touch Develop - Sign in" %}

{% block innerbody %}

{% include "_includes/providers-css.html" %}



<div id="main">
                
    <div class="agree">
        By signing in to TouchDevelop you agree to the
        <a href="/legal">Cloud Services Agreement</a>
        with Microsoft Research. Please read our statement on
        <a href="/privacy">Privacy and Cookies</a>.
    </div>

    <div id="SignInContent" class="SignInContent">
        <div id="LeftArea" class="LeftArea">
            <div id="LeftAreaText" class="Header" style="display: block;"><b>sign in with...</b></div>   
            <div id="IdentityProvidersList">
                <a name="Windows Live™ ID" href="@liveid-url@" class="IdentityProvider">
                  <img class="IdentityProviderImage" src="/static/images/login-microsoft.png" alt="Windows Live™ ID" border="0">
                </a>
                <a name="Office 365" href="@azuread-url@" class="IdentityProvider">
                  <img class="IdentityProviderImage" src="/static/images/login-office365.png" alt="Office 365" border="0">
                </a>
                <a name="Facebook" href="@facebook-url@" class="IdentityProvider">
                   <img class="IdentityProviderImage" src="/static/images/login-facebook.png" alt="Facebook" border="0">
                </a>
                <a name="Google" href="@google-url@" class="IdentityProvider">
                   <img class="IdentityProviderImage" src="/static/images/login-google.png" alt="Google" border="0">
                </a>
                <a name="Yahoo!" href="@yahoo-url@" class="IdentityProvider">
                  <img class="IdentityProviderImage" src="/static/images/login-yahoo.png" alt="Yahoo!" border="0">
                </a>
            </div>
        </div>
    </div>

    <div class="agree">
        TouchDevelop client apps use cloud services to synchronize your scripts across all your devices.
    </div>
</div>

{% endblock %}

