<footer class="row text-center" style="margin:1em;">
    <p class="text-danger">We heard your feedback and are extending the retirement date of Touch Develop to June 22, 2019.<a href="https://makecode.com/touchdevelop">Learn More.</a>.</p>
    <br />
    <a href='/contact'>Contact Us</a>
            | <a href='/privacy'>Privacy &amp; Cookies</a>
            | <a href='/legal'>Terms Of Use</a>
            | <a href='/trademarks'>Trademarks</a>
            | &copy; 2017 Microsoft&nbsp;&nbsp;
</footer>
