<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta charset="UTF-8">
<title>{{ title }}</title>
<meta name="Description" content="{{ description }}"/> 
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@touchdevelop"/>
<meta name="twitter:domain" content="touchdevelop.com"/>
<meta name="twitter:image:src" content="{{ image }}"/>
<meta property="og:title" content="{{ title }}"/> 
<meta property="og:site_name" content="Touch Develop"/>
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="fb:app_id" content="239441802766379" />
<meta property="og:image" content="/static/logo/logo200.png" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/touchdevelop.css" />
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/utils.js" type="text/javascript"></script>
<script src="/static/js/social.js" type="text/javascript"></script>
