    <style>
        .light {
            font-family: "Segoe UI Light", "Segoe UI", sans-serif;
            font-weight: 100;
        }
        .top-buffer { 
            padding-top:1.5em; 
            margin-top:1.5em; 
            padding-bottom:1.5em;
            margin-bottom: 60px;
        }
        div.green-bar {
            background: #eee;
        }
        .win-logo {
            text-align: right;
            margin-top: 15px;
        }

        .win-logo img {
            height: 80px;
        }

        .screenshot {
            margin-right: 4px;
            margin-bottom:4px;
            background-color:lightgray;
        }

        .sitemap {
            text-align: center;
        }

        .sitemap-header,
        .sitemap-entry {
            display: block;
            margin-bottom: 3px;
            color: #333 !important;
        }

        a.sitemap-entry {
            font-size: 16px;
        }

        a.sitemap-header {
            font-weight: bold;
        }

        .progressBar {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0.3em;
            overflow: hidden;
        }

        .progressDot {
            background: purple;
            width: 0.3em;
            height: 0.3em;
            position: absolute;
            animation: moveProgressDot 3s infinite; /*CSSpref*/
            -ms-animation: moveProgressDot 3s infinite;
            -webkit-animation: moveProgressDot 3s infinite;
            -moz-animation: moveProgressDot 3s infinite;
            transform: translate(-11em, 0); /*CSSpref*/
            -ms-transform: translate(-11em, 0);
            -webkit-transform: translate(-11em, 0);
            -moz-transform: translate(-11em, 0);
        }

        .progressDot-0 {
            left: 7em;
            animation-delay: 0.9s; /*CSSpref*/
            -ms-animation-delay: 0.9s;
            -webkit-animation-delay: 0.9s;
            -moz-animation-delay: 0.9s;
        }

        .progressDot-1 {
            left: 8em;
            animation-delay: 0.6s; /*CSSpref*/
            -ms-animation-delay: 0.6s;
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
        }

        .progressDot-2 {
            left: 9em;
            animation-delay: 0.3s; /*CSSpref*/
            -ms-animation-delay: 0.3s;
            -webkit-animation-delay: 0.3s;
            -moz-animation-delay: 0.3s;
        }

        .progressDot-3 {
            left: 10em;
            animation-delay: 0s; /*CSSpref*/
            -ms-animation-delay: 0s;
            -webkit-animation-delay: 0s;
            -moz-animation-delay: 0s;
        }

        @keyframes moveProgressDot {
            0% {
                transform: translate(-11em, 0);
            }

            35% {
                transform: translate(0, 0);
            }

            65% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(20em, 0);
            }
        }
        /*CSSpref*/

        @-ms-keyframes moveProgressDot {
            0% {
                -ms-transform: translate(-11em, 0);
            }

            35% {
                -ms-transform: translate(0, 0);
            }

            65% {
                -ms-transform: translate(0, 0);
            }

            100% {
                -ms-transform: translate(20em, 0);
            }
        }

        @-webkit-keyframes moveProgressDot {
            0% {
                -webkit-transform: translate(-11em, 0);
            }

            35% {
                -webkit-transform: translate(0, 0);
            }

            65% {
                -webkit-transform: translate(0, 0);
            }

            100% {
                -webkit-transform: translate(20em, 0);
            }
        }

        @-moz-keyframes moveProgressDot {
            0% {
                -moz-transform: translate(-11em, 0);
            }

            35% {
                -moz-transform: translate(0, 0);
            }

            65% {
                -moz-transform: translate(0, 0);
            }

            100% {
                -moz-transform: translate(20em, 0);
            }
        }



.symbol { font-family: "Segoe UI Symbol", inherit; }
@media screen {
    body {
      padding-top: 50px;
    }
}
img.logo, img.avatar { margin-top: -8px; height:32px;}
img.checker {
background-image: url(https://az31353.vo.msecnd.net/c04/yiak.png);
background-repeat: repeat;
}
a.navbar-brand {
  font-size: 25px;
}

.tech-img > img {
  width: 100%;
}

.tech-img {
 text-align:center;
}

.partner {
  display: inline-block;
  width: 45%;
  margin: 2%;
  position:relative;
}
.partner img {
  width: 100%;
}

.jumbotron h1 {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .tech-img > img {
    width: 50%;
  }
  .tech-box {
    margin-bottom: 50px;
  }
  .partner {
    width: 80%;
    margin: 10%;
  }
}

@media (min-width: 768px) {
  .tech-box {
    min-height: 280px;
  }
}

.jumbotron .container {
  position: relative;
}

.jumbotron {
  margin-bottom: 60px;
}

.jumbotron .container > img {
  float: left;
  max-width: 400px;
  max-height: 300px;
  margin: 25px 30px 40px 0px;
}

.btn-more {
  display: inline-block;
  float: right;
  margin: 10px 0;
}

    </style>
