<footer class="row text-center" style="margin:1em;">
    <p class="text-danger">Touch Develop retirement postponed until June 22, 2019. Sign-in and access to cloud assets to be removed on May 23, 2018.<a href="https://makecode.com/touchdevelop">Learn More.</a>.</p>
    <br />
    &copy; 2015 Microsoft&nbsp;&nbsp;
            <a href='/privacy'>privacy and cookies</a>&nbsp;&nbsp;&nbsp;
            <a href='/legal'>legal</a>&nbsp;&nbsp;&nbsp;
    
</footer>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="https://cdn.raygun.io/raygun4js/raygun.min.js"></script>
<script> 
    Raygun.init('j4erx/obYgr2MavHcGoJqA==', {
        debugMode: true,
        ignore3rdPartyErrors: false,
    }).attach();
</script>
