{% extends "_layouts/default.html" %}

{% block body %}
<div class="container">

<div class="modal fade" id="subscribeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Subscribe to the blog</h3>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm btn-block" href="https://www.twitter.com/TouchDevelop">TWITTER</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm btn-block" href="https://www.facebook.com/TouchDevelop">FACEBOOK</a>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="text-muted">read our <a href="/privacy">privacy policy</a></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <p class="text-danger">Touch Develop is retiring on May 23, 2018. <a href="https://makecode.com/touchdevelop">Learn More.</a>.</p>
        
        <hr />
        <div class="bs-sidebar hidden-print" role="complementary">          
          <form class="bs-search" role="search">
            <input type="search" dir="auto" class="form-control" id="searchInput" placeholder="search docs..." />
          </form>
          <!-- @topiclist@ -->
        </div>
    </div>

    <div id="contentBody" class="col-xs-12 col-sm-8 col-md-9 col-lg-9" dir="auto">
      {% block innerbody %}
      {% endblock %}
      <div style="margin-top:2.5em;"></div>
      <hr />
    </div>
</div> <!-- /.row -->

<div class="row hidden-print">
    <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
        <a target="blank" href="/app/#pub:@id@">edit this topic</a> <span style='opacity:0.5'>@id@</span>
    </div>
</div>


</div> <!-- /.container -->

<script>
var topicId = '@id@';
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
<script src="/static/js/docs.js" type="text/javascript"></script>

<style>
    /* First level of nav */
.bs-search {
    margin-bottom: 1em;
}
.bs-sidenav {
  margin-top: 4px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav { margin-left:8px; }
.bs-sidebar .nav > li > a,
.tt-suggestion {
  display: block;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus{
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
.tt-dropdown-menu {
    background-color:white;
    border: 1px solid #ddd;
    padding:0.5em;
    height: 30em;
    overflow-y: auto;
}
.tt-suggestion {
}
</style>

{% endblock %}
