{% extends "_layouts/default.html" %}

{% block body %}
<div class="container">

<style>
  .accountoption {
    text-align: right;
  }
  .form-group label {
    width: 18em;
    font-size: 1.5em;
  }  
  .form-group input {
    width: 20em;
    margin-right: 2em;
    display: inline-block;
  }
  button.create {
    width: 25.4em;
  }
  h3 {
    margin: 1.5em 0;
  }
  .bg-danger:not(:empty) {
    padding: 15px;
    margin: 2em 0;
  }
  .btn-lg {
    min-width: 8em;
  }
</style>

<script>
//@JS@
</script>
	
<div class="row">

    <div id="contentBody" class="col-xs-12" dir="auto">
      {% block innerbody %}
      {% endblock %}
      <div style="margin-top:2.5em;"></div>
      <hr />
    </div>
</div> <!-- /.row -->


</div> <!-- /.container -->

{% endblock %}

