{% extends "_layouts/default.html" %}
{% set title = "Microsoft Touch Develop - CCGA" %}
{% set description = "Creative Coding Through Games And Apps!" %}

{% block body %}
<div class='container'>
    <div class='jumbotron'>
        <img class='visible-md visible-lg' src="https://az31353.vo.msecnd.net/c04/kbtd.jpeg" />

                <div class='content'>
                <h1>App Day</h1>
                <p>An event where students learn to code using their phones, tablets or laptops.</p>
                <p class="text-right">
                    <a href="/docs/appday" target="blank" class="btn btn-success btn-lg">Start here</a>
                </p>
                </div>
      </div>
    </div>

    <div class='container'>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <img class="img-thumbnail" src='https://az31353.vo.msecnd.net/c04/homw.jpeg' alt='App Day student picture' />
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <img class="img-thumbnail" src='https://az31353.vo.msecnd.net/c04/wjwu.jpeg' alt='App Day student picture' />
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <img class="img-thumbnail" src='https://az31353.vo.msecnd.net/c04/aryu.jpeg' alt='App Day student picture' />
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <img class="img-thumbnail" src='https://az31353.vo.msecnd.net/c04/epuk.jpeg' alt='App Day student picture' />
            </div>
        </div>
    </div>
{% endblock %}
