{% extends "_layouts/default.html" %}
{% set title = "Microsoft Touch Develop Blog" %}
{% set description = "Blog of the Touch Develop team" %}

{% block body %}
<!-- TD-NO-TRANSLATE -->

<div class="jumbotron" style="background-image:url(https://az31353.vo.msecnd.net/pub/ealgsmql); background-repeat:no-repeat; background-size:cover; color:white; min-height:15em;">
    <div class="container">
    <h2 class="text-left" style="background-color:rgba(0,0,0,0.2)">Tales from the TouchDevelop team<br /> and its community.</h2>
    </div>
</div>

    <div class="container">

<div class="modal fade" id="subscribeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Subscribe to the blog</h3>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm btn-block" href="https://www.twitter.com/TouchDevelop">TWITTER</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm btn-block" href="https://www.facebook.com/TouchDevelop">FACEBOOK</a>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="text-muted">read our <a href="/privacy">privacy policy</a></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="row">
    <div class="col-xs-12 col-md-9">

<h1 dir="auto"><a href="/blog/retiring-the-windows-phone-app">Retiring the Windows Phone App</a></h1>

    <p class="text-muted"><a href='https&#58;&#47;&#47;www.touchdevelop.com:ljsk'>
         <img class="avatar img-rounded" src="https://www.touchdevelop.com/api/ljsk/picture?type=square" alt='profile picture' /> 
<span>Peli de Halleux</span></a>
 -  <span>Wednesday, December 8, 2015</span></p>

<p class="lead" dir="auto">
    We've retired the Windows Phone App, here's why.
</p>
<div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-12">
        <a class="btn btn-primary btn-sm btn-block" href="/blog/retiring-the-windows-phone-app">READ MORE</a>
    </div>
</div>
<hr />

<h1 dir="auto"><a href="/blog/in-browser-compiler-for-the-bbc-micro-bit">In-browser compiler for BBC micro:bit</a></h1>

    <p class="text-muted"><a href='https&#58;&#47;&#47;www.touchdevelop.com:ljsk'>
         <img class="avatar img-rounded" src="https://www.touchdevelop.com/api/ljsk/picture?type=square" alt='profile picture' /> 
<span>Peli de Halleux</span></a>
 -  <span>Wednesday, November 28, 2015</span></p>

<p class="lead" dir="auto">
Bringing in-browser compilation for all editors in the BBC micro:bit project!
</p>
<div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-12">
        <a class="btn btn-primary btn-sm btn-block" href="/blog/in-browser-compiler-for-the-bbc-micro-bit">READ MORE</a>
    </div>
</div>
<hr />

<h1 dir="auto"><a href="/docs/touchdevelopin208bits">Touch Develop in 208 Bits</a></h1>

    <p class="text-muted"><a href='https&#58;&#47;&#47;www.touchdevelop.com&#47;wonm'>
         <img class="avatar img-rounded" src="https&#58;&#47;&#47;az31353.vo.msecnd.net&#47;pic&#47;wonm-645697-1.jpeg" alt='profile picture' /> 
<span>Michał Moskal</span></a>
 -  <span>Monday, October 26, 2015</span></p>

<p class="lead" dir="auto">
Compiling Touch Develop to ARM Thumb machine code for BBC micro&#58;bit.  
</p>
<div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-12">
        <a class="btn btn-primary btn-sm btn-block" href="/docs/touchdevelopin208bits">READ MORE</a>
    </div>
</div>
<hr />

<h1 dir="auto"><a href="/docs/newcollaborationfeatures">New collaboration features</a></h1>

    <p class="text-muted"><a href='https&#58;&#47;&#47;www.touchdevelop.com&#47;expza'>
         <img class="avatar img-rounded" src="https&#58;&#47;&#47;az31353.vo.msecnd.net&#47;pic&#47;expza-729660-1.jpeg" alt='profile picture' /> 
<span>Jonathan Protzenko</span></a>
 -  <span>Tuesday, February 17, 2015</span></p>

<p class="lead" dir="auto">
 &#13;&#10;&#13;&#10;In this blog post, I present the new collaboration feature, which allows several people from a common group to work on the same script.
</p>
<div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-12">
        <a class="btn btn-primary btn-sm btn-block" href="/docs/newcollaborationfeatures">READ MORE</a>
    </div>
</div>
<hr />

<h1 dir="auto"><a href="/docs/touchdevelopgoesopensource">TouchDevelop goes open-source</a></h1>

    <p class="text-muted"><a href='https&#58;&#47;&#47;www.touchdevelop.com&#47;wonm'>
         <img class="avatar img-rounded" src="https&#58;&#47;&#47;az31353.vo.msecnd.net&#47;pic&#47;wonm-645697-1.jpeg" alt='profile picture' /> 
<span>Michał Moskal</span></a>
 -  <span>Tuesday, February 10, 2015</span></p>

<p class="lead" dir="auto">
Microsoft Research is releasing the TouchDevelop web app on GitHub under the MIT license.  
</p>
<div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-12">
        <a class="btn btn-primary btn-sm btn-block" href="/docs/touchdevelopgoesopensource">READ MORE</a>
    </div>
</div>
<hr />

<h1 dir="auto"><a href="/docs/welcometothecommunityblog">Welcome to the community blog&#33;</a></h1>

    <p class="text-muted"><a href='https&#58;&#47;&#47;www.touchdevelop.com&#47;ajlk'>
         <img class="avatar img-rounded" src="https&#58;&#47;&#47;graph.facebook.com&#47;579935802&#47;picture&#63;type&#61;square&#38;return_ssl_resources&#61;1" alt='profile picture' /> 
<span>peli&#64;TouchDevelop</span></a>
 -  <span>Friday, January 30, 2015</span></p>

<p class="lead" dir="auto">
Welcome to the TouchDevelop community blog&#33;  
</p>
<div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-12">
        <a class="btn btn-primary btn-sm btn-block" href="/docs/welcometothecommunityblog">READ MORE</a>
    </div>
</div>
<hr />

    </div>
    <div class="col-xs-12 col-md-3" dir="auto">
        <p class="text-danger">Touch Develop is retiring on May 23, 2018. <a href="https://makecode.com/touchdevelop">Learn More.</a>.</p>
        <hr />
    </div>
</div>
{% endblock %}
