{% extends "_layouts/default.html" %}
{% set title = "Microsoft Touch Develop - CCGA" %}
{% set description = "Creative Coding Through Games And Apps!" %}

{% block headAdd %}
<style>
.jumbotron > img {
  float: left;
  max-width: 400px;
  max-height: 300px;
  margin: 25px 30px 40px 0px;
}    
</style>
{% endblock %}

{% block body %}
<div class='container'>
    <div class='jumbotron'>
                <img class='visible-md visible-lg' src="/static/images/gkcw.png" />

                <div class='content'>
                <h1>Teach Creative Coding!
                </h1>
                <p>
                    Want to teach students how to make amazing things and to have a real impact on their world? You can! 
                    The <b>Creative Coding Through Games And Apps (CCGA)</b> curriculum provides everything you need to deliver the course, including teacher prep materials, lesson plans, presentations, student assignments, homework, projects, and tests.
                </p>
                <p>
                    <small>
        <b>Freely</b> available on <b>iOS</b>, <b>Android</b>, <b>Windows</b>, <b>Mac</b>, <b>Chrome Books</b> or <b>Linux</b>.
                    </small>
                </p>
                <p class="text-right">
                    <a href="http://aka.ms/ccgaaboutcourse" target="blank" class="btn btn-success btn-lg">Download course flyer</a>
                    <a href="http://aka.ms/mcstn" target="blank" class="btn btn-default btn-lg">Join Teacher Network</a>
                </p>
                </div>
      </div>
    </div>

    <div class='container'>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h2>Curriculum</h2>
                <p>
                <b>Creative Coding Through Games And Apps</b> is a first semester introduction to computer science course built with Touch Develop!                
                Includes day-by-day plans for implementing the curriculum as a <b><a target="_blank" href="http://aka.ms/ccgasupplemental">6, 9, 12, or 18-week instructor-led course</a></b>.
                <a class="btn-more btn btn-success" href="http://aka.ms/ccgasupplemental">Download curriculum (100Mb)</a>
                </p>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <video width="100%" controls poster="https://creativecodingstore.blob.core.windows.net/posters/tdt4/tdt4_2_poster.JPG">
                        <source src="https://creativecodingstore.blob.core.windows.net/asset-8712445d-1500-80c3-f48b-f1e52104b8b3/TDT4.2_LoRes.mp4?sv=2012-02-12&sr=c&si=21ce3869-0d2f-423a-9483-7aee896b7743&sig=FchGCFCyhTttniqj7nJjJuui5xmZISNZoHufkqz4W3w%3D&se=2115-07-03T04%3A53%3A33Z" 
                            type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
     </div>
   </div>
    <div class='container'>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <video width="100%" controls poster="https://creativecodingstore.blob.core.windows.net/posters/tdt16/TDT16.1.png">
                        <source src="https://creativecodingstore.blob.core.windows.net/asset-cc1e445d-1500-80c3-0ed7-f1e52fe8aac5/TDT16.1_LoRes.mp4?sv=2012-02-12&sr=c&si=acf0fc67-53f9-4f0d-8a6e-386d8845f8d1&sig=RWetgQ6JBoYOYK0jZePPEL6z7e7W%2BqpgprQUErPC5q8%3D&se=2115-07-22T03%3A41%3A48Z" 
                            type="video/mp4"/>
                    </video>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <h2>Preview package</h2>
                <p>
Try out the preview package now! Download the freely available Preview Package that contains a course description, teacher and student guides, and sample unit materials. Learn more about the requirements, objectives and learning goals you can achieve in the enclosed sample lesson unit with Creative Coding Through Games and Apps.                    
                <a class="btn-more btn btn-success" href="http://aka.ms/ccgaevaluation">Download evaluation package (83Mb)</a>
                </p>                
            </div>
        </div>
     </div>
   </div>
{% endblock %}
