{% extends "_layouts/default.html" %}
{% set title = "Touch Develop - Contact Us" %}
{% set description = "" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">

        <h1 dir="auto">Contact</h1>
        
        <p dir="auto">
            Please use UserVoice for bug reports and suggestions.
            <a class='btn btn-lg btn-primary' href="https://touchdevelop.uservoice.com/">Go to UserVoice</a>            
        </p>
        
        <p dir="auto">
            Please use the in-app forums for help with TouchDevelop web app.                        
        </p>
                
        </div>
    </div>
</div>

{% endblock %}