{% extends "_layouts/default.html" %} {% set title = "Microsoft Touch Develop - create apps everywhere, on all your devices!"
%} {% set description = "Create apps everywhere &mdash; on all your devices! Keyboard optional. Share your programs with
other people. Download the free app for Windows Phone, try the Web App in your browser!" %} {% block headAdd %}
<style>
    .light {
        font-family: "Segoe UI Light", "Segoe UI", sans-serif;
        font-weight: 100;
    }

    .top-buffer {
        padding-top: 1.5em;
        margin-top: 1.5em;
        padding-bottom: 1.5em;
        margin-bottom: 60px;
    }

    div.green-bar {
        background: #eee;
    }

    .win-logo {
        text-align: right;
        margin-top: 15px;
    }

    .win-logo img {
        height: 80px;
    }

    .screenshot {
        margin-right: 4px;
        margin-bottom: 4px;
        background-color: lightgray;
    }

    .sitemap {
        text-align: center;
    }

    .sitemap-header,
    .sitemap-entry {
        display: block;
        margin-bottom: 3px;
        color: #333 !important;
    }

    a.sitemap-entry {
        font-size: 16px;
    }

    a.sitemap-header {
        font-weight: bold;
    }

    .progressBar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0.3em;
        overflow: hidden;
    }

    .progressDot {
        background: purple;
        width: 0.3em;
        height: 0.3em;
        position: absolute;
        animation: moveProgressDot 3s infinite;
        /*CSSpref*/
        -ms-animation: moveProgressDot 3s infinite;
        -webkit-animation: moveProgressDot 3s infinite;
        -moz-animation: moveProgressDot 3s infinite;
        transform: translate(-11em, 0);
        /*CSSpref*/
        -ms-transform: translate(-11em, 0);
        -webkit-transform: translate(-11em, 0);
        -moz-transform: translate(-11em, 0);
    }

    .progressDot-0 {
        left: 7em;
        animation-delay: 0.9s;
        /*CSSpref*/
        -ms-animation-delay: 0.9s;
        -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s;
    }

    .progressDot-1 {
        left: 8em;
        animation-delay: 0.6s;
        /*CSSpref*/
        -ms-animation-delay: 0.6s;
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
    }

    .progressDot-2 {
        left: 9em;
        animation-delay: 0.3s;
        /*CSSpref*/
        -ms-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
    }

    .progressDot-3 {
        left: 10em;
        animation-delay: 0s;
        /*CSSpref*/
        -ms-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
    }

    @keyframes moveProgressDot {
        0% {
            transform: translate(-11em, 0);
        }

        35% {
            transform: translate(0, 0);
        }

        65% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(20em, 0);
        }
    }
    /*CSSpref*/

    @-ms-keyframes moveProgressDot {
        0% {
            -ms-transform: translate(-11em, 0);
        }

        35% {
            -ms-transform: translate(0, 0);
        }

        65% {
            -ms-transform: translate(0, 0);
        }

        100% {
            -ms-transform: translate(20em, 0);
        }
    }

    @-webkit-keyframes moveProgressDot {
        0% {
            -webkit-transform: translate(-11em, 0);
        }

        35% {
            -webkit-transform: translate(0, 0);
        }

        65% {
            -webkit-transform: translate(0, 0);
        }

        100% {
            -webkit-transform: translate(20em, 0);
        }
    }

    @-moz-keyframes moveProgressDot {
        0% {
            -moz-transform: translate(-11em, 0);
        }

        35% {
            -moz-transform: translate(0, 0);
        }

        65% {
            -moz-transform: translate(0, 0);
        }

        100% {
            -moz-transform: translate(20em, 0);
        }
    }



    .symbol {
        font-family: "Segoe UI Symbol", inherit;
    }

    @media screen {
        body {
            padding-top: 50px;
        }
    }

    img.logo,
    img.avatar {
        margin-top: -8px;
        height: 32px;
    }

    img.checker {
        background-image: url(/static/images/checker.png);
        background-repeat: repeat;
    }

    a.navbar-brand {
        font-size: 25px;
    }

    .tech-img>img {
        width: 100%;
    }

    .tech-img {
        text-align: center;
    }

    .partner {
        display: inline-block;
        width: 45%;
        margin: 2%;
        position: relative;
    }

    .partner img {
        width: 100%;
    }

    .jumbotron h1 {
        margin-top: 50px;
    }

    @media (max-width: 767px) {
        .tech-img>img {
            width: 50%;
        }
        .tech-box {
            margin-bottom: 50px;
        }
        .partner {
            width: 80%;
            margin: 10%;
        }
    }

    @media (min-width: 768px) {
        .tech-box {
            min-height: 280px;
        }
    }

    .jumbotron .container {
        position: relative;
    }

    .jumbotron {
        margin-bottom: 60px;
    }

    .jumbotron .container>img {
        float: left;
        max-width: 400px;
        max-height: 300px;
        margin: 25px 30px 40px 0px;
    }

    .btn-more {
        display: inline-block;
        float: right;
        margin: 10px 0;
    }
</style>
{% endblock %} {% block body %}
<div class="row top-buffer green-bar">
    <div class='container'>
        <div class="col-md-4 col-xs-12">
            <img src="/static/images/makecodemc.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8 col-xs-12">
            <h2>Moving to Microsoft MakeCode...</h2>
            <div>
                Taking the learnings of Touch Develop and the BBC micro:bit, the team decided to rebuild a new editor better suited for computer
                science education and physical computing in schools... Microsoft MakeCode.
                <a class="btn-more btn btn-default" href="https://makecode.com">Go To MakeCode!</a>
            </div>
            <p class="text-danger">Touch Develop is retiring on May 23, 2018. <a href="https://makecode.com/touchdevelop">Learn More.</a>.</p>
        </div>
    </div>
</div>

<div class='jumbotron'>
    <div class='container'>
        <img class='visible-md visible-lg' src="/static/images/mwpv.png" />

        <div class='content'>
            <h1>Touch Develop
            </h1>
            <p>
                Create <strong>your apps</strong> on your <strong>phone</strong>, <strong>tablet</strong> or <strong>laptop</strong>.
            </p>
            <p class="text-danger">Touch Develop is retiring on May 23, 2018. <a href="https://makecode.com/touchdevelop">Learn More.</a>.</p>
            <p class="text-right">
                <a href="/app/" class="btn btn-success btn-lg">Launch Touch Develop</a>
            </p>
        </div>
    </div>
</div>

<div class="row top-buffer green-bar">
    <div class='container'>
        <div class="col-md-4 col-xs-12">
            <img src="/static/images/cxld.png" class="img-responsive" />
        </div>
        <div class="col-md-8 col-xs-12">
            <h2>Touch Develop and the BBC micro:bit</h2>
            <p>
                The Touch Develop team is proud to be part of the BBC micro:bit project. The micro:bit is a small wearable and programmable
                mbed-based device that visibly features a 5x5 LED display, accelerometer, compass, buttons, I/O pins, Micro
                USB plug, Bluetooth Low Energy antenna, ARM Cortex-M0 processor, and battery plug. Taking the learnings from
                Touch Develop, we have rebuild a new experience with Microsoft MakeCode.

                <a class="btn-more btn btn-default" href="https://makecode.microbit.org">MakeCode editor</a>
            </p>
        </div>
    </div>
</div>

<div class='container'>
    <div class='row'>

        <div class='col-xs-12 col-sm-3 col-md-2 tech-img'>
            <img src="/static/images/cvme.png" alt='GitHub' />
        </div>

        <div class='col-xs-12 col-sm-9 col-md-4 tech-box'>
            <h2>Open Source on GitHub</h2>
            <p>You can fork it there, submit pull requests with bug-fixes or new features, submit and comment on issues in the
                bug-tracker, and check on latest activity.</p>
            <div class='text-right'>
                <a class='btn btn-default' href="https://github.com/Microsoft/TouchDevelop">GitHub Repo</a>
            </div>
        </div>
    </div>
</div>

<div class='top-buffer green-bar'>
    <div class='container'>
        <div class='row'>

            <div class='col-xs-12 col-md-6'>
                <h1>About Touch Develop</h1>
                <p>
                    Touch Develop has been under active development since 2009 at Microsoft Research in Redmond.
                </p>
                <p class="text-danger">Touch Develop is retiring on May 23, 2018. <a href="https://makecode.com/touchdevelop">Learn More.</a>.</p>
            </div>
        </div>
    </div>
</div>


<div class='container'>
    <div class='row top-buffer'>
        <div class='col-xs-6 col-md-3 col-lg-offset-2 col-lg-2'>
            <a class="sitemap-header" href="/">Touch Develop</a>
            <!--<a class="sitemap-entry" href="/scripts">scripts</a>-->
            <!--<a class="sitemap-entry" href="/tags">tags</a> -->
            <!-- <a class="sitemap-entry" href="/users">users</a> -->
            <!-- <a class="sitemap-entry" href="/gallery">screenshots</a> -->
            <!-- <a class="sitemap-entry" href="/search">search</a> -->
            <a class="sitemap-entry" href="/help/cloudservices">cloud APIs</a>
        </div>
        <div class='col-xs-6 col-md-3 col-lg-2'>
            <a class="sitemap-header" href="/docs/contents">Documentation</a>
            <a class="sitemap-entry" href="/blog">blog</a>
            <a class="sitemap-entry" href="/docs/teach">teach</a>
            <a class="sitemap-entry" href="/docs/courses">courses</a>
            <a class="sitemap-entry" href="/docs/faq">faq</a>
            <a class="sitemap-entry" href="/docs/api">API reference</a>
            <a class="sitemap-entry" href="/platforms">Platforms</a>
        </div>
        <div class='col-xs-6 col-md-3 col-lg-2'>
            <a class="sitemap-header" href="http://research.microsoft.com/TouchDevelop/team.aspx">About Us</a>
            <a class="sitemap-entry" href="https://github.com/Microsoft/TouchDevelop">GitHub</a>
            <a class="sitemap-entry" href="http://research.microsoft.com/TouchDevelop">@Microsoft Research</a>
            <a class="sitemap-entry" href="http://youtube.com/c/touchdevelop">YouTube</a>
            <a class="sitemap-entry" href='http://facebook.com/TouchDevelop'>Facebook</a>
            <a class="sitemap-entry" href='http://twitter.com/TouchDevelop'>Twitter</a>
        </div>
    </div>
</div>

<script src="/static/js/home.js" type="text/javascript"></script>
{% endblock %}