{% extends "_layouts/default.html" %}
{% set title = "Microsoft Touch Develop - Platforms" %}
{% set description = "Microsoft Touch Develop - Platforms" %}

{% block body %}

    <div class="container">

    <h1>platforms</h1>
    <p>
        <img class='img-responsive' src="/static/images/mwpv.png" />
    </p>
    <h3 id="webapp">Web app for iPhone, iPad, Android, Windows, Windows Phone, Mac, Linux, Kindle, ...</h3>
    <p>
        The <a href="https://www.touchdevelop.com/app/">Touch Develop Web App</a> runs in <a href="https://www.touchdevelop.com/app/current.browsers">most modern browsers</a>.
    </p>
        <div class="alert alert-info">
            Touch Develop uses various HTML5 features to implement APIs. Some features are not supported in all browsers or platforms.
        </div>    
    <h3 id="windowsphone">Windows Phone</h3>
        <div class="alert alert-info">
        The <a href="http://www.windowsphone.com/s?appId=fe08ccec-a360-e011-81d2-78e7d1fa76f8">Touch Develop app for Windows Phone</a> is deprecated and will be soon phased out.
        </div>
</div>
</body>
{% endblock %}
